# Node modules
**/node_modules/

# Angular
frontend/.angular/
frontend/dist/
frontend/coverage/

# Logs
*.log

# Environment files
.env
.env.*

# macOS / Windows
.DS_Store
Thumbs.db

.vscode

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep