# Node modules
**/node_modules/

# Angular
.angular/
dist/
coverage/

# Logs
*.log

# Environment files
.env
.env.*

# macOS / Windows
.DS_Store
Thumbs.db

.vscode

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep